.contact-section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 242, 242);
  position: relative;
  user-select: none;
}


.contact-profile-wrapper {
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}

.contact-profile-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.7);
  animation: pulse 2.5s ease-out infinite;
}

.contact-profile-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.4);
  animation: pulse 2.5s ease-out infinite;
  animation-delay: 1.2s;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 0.8; }
  100% { transform: scale(1.4); opacity: 0; }
}

.contact-wave-button {
  --accent: #2CA0F3;

}



.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  margin-bottom: 25px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px 15px;
  font-size: 16px;
  border: 1.5px solid #ccc;
  background-color: #ffffff;
  border-radius: 6px;
  outline: none;
  transition: border 0.3s ease;
  color: #000;

  
}
.contact-form textarea {
  resize: none;
  width: 94%;
}

.button-send{
width: 80%;
max-width: 300px;
margin: 10px;
background-color: #2CA0F3;
color: white;
transition: all 0.3s ease;
border: none;
padding: 15px;
}
.button-send:hover {
  background-color: darken(#2a98e7, 10%);
  transform: translateY(-2px);
}
.button-secundary{
width: 80%;
max-width: 300px;
margin: 10px;
background-color: transparent;
color: rgb(1, 1, 1);
transition: all 0.3s ease;
border: 2px solid #000000;
height: 20px;
}
.button-secundary:hover {
  background-color: #00000000;
  color: white;
  transform: translateY(-2px);
  border-color: #2a98e7;
  color: #2a98e7;
  
}